<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/anecdote_form' %>
      </section>
    </aside>
    <ul class="myButtons">
      <li>
        <%= link_to "New Character", newCharacter_path, class: "btn btn-large btn-primary" %>
        <%= link_to "All Characters", characters_path, class: "btn btn-large btn-default" %>
      </li> 
        <%= link_to "New Anecdote", newAnecdote_path, class: "btn btn-large btn-primary" %>
        <%= link_to "All Anecdotes", current_user, class: "btn btn-large btn-default" %>   
      <li>    
      </li>
    </ul>
  </div>
<% else %>
<div class="center hero-unit">
  <h1>Write Your Book</h1>
  <h2>
    Simple and Powerful
  </h2>
    <ul class="myButtons">
      <li>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
      </li>    
      <li>    
        <%= link_to "Sign in", signin_path, class: "btn btn-large btn-default" %>
      </li>
    </ul>

</div>
<% end %>
